:root {
  --color-orange-500: hsl(25, 97%, 53%);
  --color-white: hsl(0, 100%, 100%);
  --color-grey-500: hsl(217, 12%, 63%);
  --color-grey-900: hsl(213, 19%, 18%);
  --color-grey-950: hsl(216, 12%, 8%);

  --body-text: 0.9375rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

ul[role="list"] {
  list-style: none;
}

body {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-950);

  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: var(--body-text);
}

img {
  border-radius: 50%;
  padding: 8px;
  background-color: var(--color-grey-500);
}

h1 {
  font-size: 1.5rem;
  color: var(--color-white);
}

p {
  color: var(--color-grey-500);
}

form {
  background-color: var(--color-grey-900);
  background-color: rgb(35, 40, 49);
  padding: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 25.75rem;
}

fieldset {
  border: 0;
}

ul {
  display: flex;
  justify-content: space-between;
}

input {
  appearance: none;
}

li {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgb(40, 46, 55);
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  color: var(--color-white);
}

button {
  padding: 1em;
  border-radius: 32px;
  border: 0;
  background-color: var(--color-orange-500);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--color-grey-950);
  cursor: pointer;
}

button:hover {
  background-color: var(--color-white);
}
